html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #545454;
    font-size: 1em;
    height: 100%;
    line-height: normal;
    background: #fefefe;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Reenie Beanie', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 48px;
}
h2{
    margin: 0;
    padding: 0;
    line-height: 38px;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

.space-60 {
    width: 100%;
    height: 60px;
    clear: both;
}

a {
    text-decoration: none;
}

.author-information {
    border-left: solid 2px #3F51B5;
    padding-left: 20px;
}

a.author {
    display: block;
    color: #0f0f0f;
}

a.author:hover {
    text-decoration: none;
}

a.author h1 {
    font-size: 3.2em;
    margin: 0;
    padding: 0;
}

a.author h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.author-information small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.spcialMediaIcons a {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.spcialMediaIcons a:hover {
    text-decoration: none;
}

.spcialMediaIcons .icon-linkedin {
    display: inline-block;
    color: #fff;
    padding: 0 8px;
    font-size: 14px;
    line-height: 30px;
    background: #007bb5;
    border-radius: 4px;
}

.spcialMediaIcons .fa {
    font-size: 22px;
    line-height: 30px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    width: auto;
}

.flex-item {
    text-align: center;
}
.flex-bottom {
    flex-grow: 1;
}

p{ width: 50%; margin-left: 25%; }
